{% extends "./base.html" %}
{% load static %}
{% block content %}
<div class="content">
{% include "./header.html" %}
{% if messages %}
		{% for message in messages %}
		<div
			class="alert alert-secodary"
			role="alert"
		>
		
			<h4 class="alert-heading">
			Alert
			</h4>
			<p>
			{{message}}
			</p>
			<hr />
		</div>
		{% endfor %}

		{% endif %}
            <table class="table dataTable align-middle table-hover table-body" style="width: 100%;">
                <h1>
                    Reservations
                </h1>
                <thead>
                    <tr>
                    <th>
                            Purpose
                        </th>
                        <th>Check In</th>
                        <th>Check Out</th>
                        <th>
                            Arrival From
                        </th>
                        {% comment %} <th>Unit</th> {% endcomment %}
                        <th>
                            Reservation Date
                        </th>
                        {% comment %} <th>Laundry Item</th> {% endcomment %}
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                   {% if reserve %}
                    {% for reservation  in reserve %}
                    <tr>
                        <td>
                            {{reservation.guest.first_name}}
                        </td>
                        <td>
                            {{reservation.check_in}}
                            
                        </td>
                        <td>

                            {{reservation.check_out}}
                        </td>
                        <td>
                            {{reservation.arrival_from}}
                        </td>
                        <td>
                            {{reservation.reservation_date}}
                        </td>
                        <td>
                            
                            <a href="{% url "checkin" reservation.pk %}" class="btn btn-warning">
                                Checkout
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                     <div class="text-center">
                        <h4> no reserved room available </h4>
                         </div>
                    {% endif %}

                    
                </tbody>
            </table>
        </div>

{% endblock content %}